@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
  color: #2a2727;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #b4a195;
}

ul {
  list-style: none;
}

section h3 {
  text-align: center;
  padding-top: 60px;
  font-size: 1.65rem;
  color: #ee0909;
}

section p {
  text-align: center;
  margin: 30px 0;
}

.active {
  color: #ffffff;
}

.logo {
  margin-top: 30px;
}

.first-section {
  background: #2a2727;
  min-height: 100vh;
}

.first-section > div {
  margin-top: 80px;
}

.first-section h1 {
  color: #ffffff;
}

.first-section ul {
  list-style-type: none;
}

.first-section > div li {
  margin-bottom: 50px;
  color: #2a2727;
}

.first-section > div li a:hover {
  color: #ee0909;
}

.first-section > div li span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ee0909;
  border-radius: 100%;
  margin-left: 18px;
}

.first-section > div li:nth-child(1) {
  position: relative;
  top: 12px;
  left: 45px;
}

.first-section > div li:nth-child(2) {
  position: relative;
  top: 8px;
  right: 43px;
}

.first-section > div li:nth-child(3) {
  position: relative;
  top: 10px;
  right: 66px;
}

.first-section > div li:nth-child(4) {
  position: relative;
  top: 10px;
  right: 100px;
}

.first-section > div li:nth-child(5) {
  position: relative;
  top: 30px;
  right: -7px;
}

.first-section .container > *:first-child {
  width: 45%;
  font-size: 52px;
  text-transform: uppercase;
}

.first-section .container > *:nth-child(2) {
  margin-left: 100px;
}

.first-section-nav {
  min-height: 300px;
  min-width: 300px;
  border: 2px solid #ffffff;
  border-radius: 100%;
}

.first-section-nav img {
  position: relative;
  left: 60px;
  top: 40px;
  max-height: 280px;
  max-width: 280px;
}

.first-section button {
  margin-left: 200px;
}

.about-section {
  background: #ffffff;
  height: 500px;
}

.about-section article > *:first-child {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.about-section article > *:nth-child(2) {
  align-self: flex-start;
  width: 40%;
  margin: auto 0;
  color: #2a2727;
}

.about-section .flex > div > *:nth-child(2) {
  position: relative;
  top: -230px;
}

.categories-section {
  margin-top: 190px;
  padding-bottom: 80px;
}

.categories-section .flex {
  justify-content: center;
}

.services-section {
  margin-bottom: 50px;
}

.services-section article p {
  text-align: left;
}

.carousel-slide {
  display: flex;
}

footer {
  padding-top: 10px;
  padding-bottom: 60px;
  background: #2a2727;
  color: #ffffff;
  font-size: 0.89rem;
  font-weight: 400;
}

footer .flex {
  justify-content: space-around;
}

.footer-a > *:nth-child(2) {
  margin-left: 60px;
}

.footer-b .flex {
  height: 0;
}

.footer ul {
  margin-top: 30px;
}

.footer li {
  margin-bottom: 20px;
}

.footer a {
  color: #ffffff;
}

.footer-a ul {
  margin-left: 30px;
}
/*UTILITIES*/

.container {
  max-width: 1180px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.button {
  padding: 10px 50px;
  background: #ee0909;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.flex {
  display: flex;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 70px;
}
