@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
  color: #2a2727;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #b4a195;
}

ul {
  list-style: none;
}

section h3 {
  text-align: center;
  padding-top: 60px;
  font-size: 1.65rem;
  color: #ee0909;
}

section p {
  text-align: center;
  margin: 30px 0;
}

.active {
  color: #ffffff;
}

.logo {
  margin-top: 30px;
}

.first-section {
  background: #2a2727;
  padding-bottom: 70px;
}

.first-section > div {
  margin-top: 80px;
}

.first-section h1 {
  color: #ffffff;
}

.first-section ul {
  list-style-type: none;
}

.first-section > div li {
  margin-bottom: 50px;
  color: #2a2727;
}

.first-section > div li a:hover {
  color: #ee0909;
}

.first-section > div li span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ee0909;
  border-radius: 100%;
  margin-left: 18px;
}

.first-section > div li:nth-child(1) {
  position: relative;
  top: 12px;
  left: 45px;
}

.first-section > div li:nth-child(2) {
  position: relative;
  top: 8px;
  right: 43px;
}

.first-section > div li:nth-child(3) {
  position: relative;
  top: 10px;
  right: 66px;
}

.first-section > div li:nth-child(4) {
  position: relative;
  top: 10px;
  right: 100px;
}

.first-section > div li:nth-child(5) {
  position: relative;
  top: 30px;
  right: -7px;
}

.first-section .container > *:first-child {
  width: 45%;
  font-size: 52px;
  text-transform: uppercase;
}

.first-section .container > *:nth-child(2) {
  margin-left: 100px;
}

.first-section-nav {
  min-height: 300px;
  min-width: 300px;
  border: 2px solid #ffffff;
  border-radius: 100%;
}

.first-section-nav img {
  position: relative;
  left: 60px;
  top: 40px;
  max-height: 280px;
  max-width: 280px;
}

.first-section button {
  margin-left: 200px;
  padding: 10px 50px;
}

.about-section {
  background: #ffffff;
  height: 500px;
}

.about-section .flex {
  height: 100%;
}

.about-section article > *:first-child {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.about-section article > *:nth-child(2) {
  align-self: flex-start;
  width: 40%;
  height: 100%;
  margin: auto 0;
  color: #2a2727;
}

.about-section .flex > div > *:nth-child(2) {
  position: relative;
  top: -230px;
}

.categories-section {
  margin-top: 190px;
  padding-bottom: 80px;
}

.categories-section .flex {
  justify-content: center;
}

.services-section {
  margin-bottom: 50px;
}

.services-section .flex > *:first-child {
  width: 50%;
}

.services-section .flex > *:nth-child(2) img {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-left: 70px;
}
.services-section article p {
  text-align: left;
}

.carousel-slide {
  justify-content: center;
}

.carousel-slide img {
  height: 200px;
  width: 200px;
}
.work-process-section {
  padding: 90px 0;
}

.work-process-section .flex {
  justify-content: space-around;
  margin-top: 80px;
}

.work-process-section h6 {
  text-align: center;
  font-weight: 700;
  font-size: 0.987rem;
  margin: 15px 0;
}

.in-touch-section {
  background: #2a2727;
}

.in-touch-section h3,
.in-touch-section p {
  color: #ffffff;
}

.in-touch-section form {
  margin-top: 80px;
}

.in-touch-section form input {
  height: 50px;
  width: 260px;
  background: #2a2727;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding-left: 40px;
}

.in-touch-section form button {
  width: 130px;
  height: 50px;
  margin-left: -60px;
  border-radius: 25px;
}

.contacts-section h3 {
  margin-bottom: 40px;
}

.contacts-section > .flex {
  justify-content: space-around;
}

.contacts-section h6 {
  font-size: 0.98rem;
}

.contacts-section p {
  font-weight: 400;
  font-size: 0.88rem;
  text-align: left;
  line-height: 20pt;
}

.contacts-section a {
  color: #2a2727;
}

.contacts-section a:nth-of-type(2),
.contacts-section a:nth-of-type(3) {
  margin-left: 15px;
}

footer {
  padding-top: 10px;
  padding-bottom: 60px;
  margin-top: 85px;
  background: #2a2727;
  color: #ffffff;
  font-size: 0.89rem;
  font-weight: 400;
}

footer .flex {
  justify-content: space-around;
}

.footer-a > *:nth-child(2) {
  margin-left: 60px;
}

.footer-b .flex {
  height: 0;
}

.footer ul {
  margin-top: 30px;
}

.footer li {
  margin-bottom: 20px;
}

.footer a {
  color: #ffffff;
}

.footer-a ul {
  margin-left: 30px;
}

/* Mobile and Small Screens */
/*UTILITIES*/

.container {
  max-width: 1180px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.button {
  background: #ee0909;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 70px;
}

/* Tablets and Medium Screens */
@media all and (max-width: 800px) {
  .grid {
    grid-column-gap: 20px;
  }

  .logo img {
    width: 150px;
  }

  .first-section-nav {
    display: none;
  }

  .first-section .button {
    display: block;
    margin: 15px auto;
  }

  .first-section h1 {
    font-size: 10px;
  }

  .first-section .container > *:first-child {
    width: 100%;
    font-size: 52px;
    text-transform: uppercase;
  }

  .about-section article > *:first-child {
    display: none;
  }

  .about-section {
    height: 150px;
  }

  .about-section article > *:nth-child(2) {
    width: 100%;
    margin: 5px 30px;
  }

  .services-section .flex > *:first-child {
    width: 100%;
  }

  .services-section .flex > *:nth-child(2) {
    margin: 0 auto;
  }

  .services-section .flex > *:nth-child(2) img {
    width: 250px;
    height: 250px;
    margin: 0;
  }

  .in-touch-section .flex {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .in-touch-section img {
    width: 250px;
    height: 250px;
  }

  .in-touch-section h3 {
    margin-top: -15px;
  }

  .in-touch-section form {
    margin-top: 20px;
  }

  .in-touch-section form input {
    height: 50px;
    width: 190px;
    margin-left: 10px;
  }

  .in-touch-section form button {
    width: 130px;
    height: 50px;
    margin-left: -60px;
    border-radius: 25px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .services-section .flex > *:first-child {
    width: 100%;
  }

  .services-section .flex > *:nth-child(2) img {
    width: 180px;
    height: 180px;
    margin: 0;
  }

  .carousel-slide {
    flex-direction: column;
    align-items: center;
  }
}
