@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
  color: #2a2727;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #b4a195;
}

section h3 {
  text-align: center;
  padding-top: 60px;
  font-size: 1.65rem;
  color: #ee0909;
}

section p {
  text-align: center;
  margin: 30px 0;
}

.active {
  color: #ffffff;
}

.first-section {
  background: #2a2727;
  min-height: 100vh;
}

.first-section > div {
  margin-top: 80px;
}

.first-section h1 {
  color: #ffffff;
}

.first-section ul {
  list-style-type: none;
}

.first-section > div li {
  margin-bottom: 50px;
  color: #2a2727;
}

.first-section > div li:nth-child(2) {
  margin-left: -50px;
}

.first-section > div li:nth-child(3) {
  margin-left: -70px;
}

.first-section > div li:nth-child(4) {
  margin-left: -80px;
}

.first-section .container > *:first-child {
  width: 45%;
  font-size: 52px;
  text-transform: uppercase;
}

.first-section .container > *:nth-child(2) {
  margin-left: 100px;
}

.first-section .container > *:nth-child(2) img {
  height: 350px;
}

.first-section button {
  margin-left: 200px;
}

.about-section {
  background: #ffffff;
  height: 500px;
}

.about-section article > *:first-child {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.about-section article > *:nth-child(2) {
  align-self: flex-start;
  width: 40%;
  margin: auto 0;
  color: #2a2727;
}

.about-section .flex > div > *:nth-child(2) {
  position: relative;
  top: -230px;
}

.categories-section {
  margin-top: 190px;
  padding-bottom: 80px;
}

.categories-section .flex {
  justify-content: center;
}
/*UTILITIES*/

.container {
  max-width: 1180px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.button {
  padding: 10px 50px;
  background: #ee0909;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.flex {
  display: flex;
  height: 100%;
}
